<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Aquilo.MAUI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FinancialModule">
                <span class="bi bi-cash-coin-nav-menu" aria-hidden="true"></span> Finanse
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HR">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> HR
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HR">
                <span class="bi bi-box-seam-fill-nav-menu" aria-hidden="true"></span> ZM
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HR">
                <span class="bi bi-receipt-cutoff-nav-menu" aria-hidden="true"></span> Sprzedaż
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HR">
                <span class="bi bi-cart4-nav-menu" aria-hidden="true"></span> Zakupy
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HR">
                <span class="bi bi-wrench-adjustable-circle-fill-nav-menu" aria-hidden="true"></span> Produkcja
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HR">
                <span class="bi bi-kanban-fill-nav-menu" aria-hidden="true"></span> Projekty
            </NavLink>
        </div>
    </nav>
</div>
